/**{
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/
h1{
    /* all h1 tags*/
    /*color:darkorchid;*/
    /*background-color: azure;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
/*intro class*/
.intro h1{
    /* class which holds h1*/
    color: brown;
}
.intro{
    /* class */
    background-color: burlywood;
}
.intro p{
    /*class which holds p tag*/
    font-size: 30px;
}
/*intro2 class*/
.intro2 {
    color:darkblue;
    font-weight: bold;
    font-size: 20px;
    /*background tags specification*/
    background-image: url("img8.jpg");
    background-color: darksalmon;
    height: 600px;
    background-repeat: repeat;
    /*includes backgroung size*/
    /*background-size: cover;*/
}
/*intro3 class*/
.intro3 h1{
    /*border tags specification*/
    color: blueviolet;
    /*border alignment*/
    border-style: dashed;
    border-top: dotted;
    border-left: solid;
    border-right: solid;
    border-width: 5px;
    border-color: chartreuse;
    border-radius: 10px; /*changes the rectangle shape*/
}
.intro3{
    background-color: bisque;
    color: darkorange;
}
/*intro4 class*/
.intro4{
    background-color: blanchedalmond;
   font-size: 20px;
}
.intro4 button{
    border-color: aquamarine;
    border-width: 3px;
    border-radius: 5px;
    /*margin-top: 20px;*/
    margin: 10px 5px 10px 10px; /*top right bottom left(clockwise-direction)*/
    /*padding*/
    padding: 5px;
}
/*intro5 class*/
.intro5 h1{
    font-weight: bold;
}
.intro5{
    background-color: rgb(90, 215, 205);
    color: whitesmoke;
    padding: 10px;
    width: 450px; /*assign according to browser width*/
}
/*intro6 class*/
.intro6{
    background-color: darkseagreen;
    border: 3px dashed orangered;
    outline: 5px solid greenyellow;
    padding: 3px;
}
/*intro7 class*/
.intro7 h1{
    font-weight: bold;
    text-shadow: 5px 2px mediumturquoise;
    text-align: center;
}
.intro7{
    /*text formatting*/
    background-color: bisque;
    text-align: justify;
    /*text-decoration: line-through;*/ /*strike out*/
    /*text-transform: capitalize;*/
    text-indent: 10px; /*to leave space while staring a paragraph*/
   /* letter-spacing: 2px;*/
   /*word-spacing: 5px;*/
   line-height: 1.5;
}
/*intro8 class*/
.intro8{
    background-color: rgb(218, 162, 142);
    padding: 5px;
}
.intro8 a{
    color: limegreen;
}
.intro8 a:link{
    color:blue;
}
.intro8 a:active{
    color: maroon;
}
.intro8 a:hover{
    color: rebeccapurple;
}
.fb{
    padding: 5px;
    color: azure;
    background-color: blueviolet;
    border-color: chocolate;
    border-radius: 8px;
    margin: 2px;
}
.wa{
    padding: 5px;
    color: aliceblue;
    background-color: forestgreen;
    border-color: chocolate;
    border-radius: 8px;
    margin: 2px;
}
.intro9{
    margin: 30px;
    background-color: aquamarine;
}
ol{
    padding: 2px;
    background-color: chocolate;
    color: green;
    list-style-type: square;
    list-style-position: inside;
    /*list-style-image: url();*/ /*to give image bulletin*/
}
/*intro10 class*/
.intro10{
    background-color: aqua;
}
/*table tags*/
table{
    width:80%;
    text-align: center;
}
th{
    font-size: 20px;
    padding: 10px;
    background-color: coral;
}
td{
    padding: 10px ;
}
/*to give alternate color to rows*/
tr:nth-last-child(even){
    background-color: aquamarine;
}
/*when cursor moved the colr changes*/
tr:hover{
    background-color: blueviolet;
}
/*.{
    display: none;  //it removes the element and gets overlapped
    visibility: hidden; //it removes the element by leaving some spacee
}*/
.intro11{
    background-color: blanchedalmond;
    margin: 5px;
    padding: 80gpx;
}
.static{
    position:static; /*defaut behaviour of position */
    border-color: brown;
    border-width: 2px;
    border-style: dotted;
}
.relative{
    position: relative;
    border-color: brown;
    border-width: 2px;
    left: 25px;
    border-style: dotted;
}
.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width:100%;
    text-align: center;
    padding: 5px;
    border-color: brown;
    border-width: 3px;
    background-color: brown;
    border-style: dotted;
}
.relatives{
    position: relative;
    left:30%;
    width: 300px;
    height: 300px;
    border-color: brown;
    border-width: 3px;
    border-style: dotted;
}
.absolute{
    position: absolute;
    left: 20px;
    border-color: brown;
    border-width: 3px;
    border-style: dotted;
}
.intro12{
    background-color: darkgray;
    margin: 50px;
    padding: 40px;
    color: azure;
}
.intro12 img{
    float: left;
    background-color: indianred;
    margin-right: 10px;
    padding: 10px;
}
#intro13{
    padding: 80px 0;
    text-align: center;
    width: 100px;
}
.green{
    background-color: green;
    float: left;
}
.blue{
    background-color: blue;
    float: left;
}
.orange{
    background-color: orange;
    float: right;
}
.red{
    background-color: red;
    float: right;
}